.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  height: 3rem;
  background-color: ghostwhite;
  border-radius: 4px;
  color: #584977;
}

.login-form {
  display: grid;
  color: #584977;
  grid-gap: 30px;
}

.login-bound {
  border: 1px solid whitesmoke;
  border-radius: 14px;
  padding: 18px;
  background: ghostwhite;
}

.nav-headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.Fields {
  width: 25vw;
  padding: 8px 12px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: #fff;
  color: #2d3438;
  border-radius: 4px;
  border: 1px solid #e2e6e8;
}

.label {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.005em;
  text-align: left;
  margin-bottom: -2px;
  color: #444f54;
}

h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.008em;
  text-align: center;
  color: #0b0d0e;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008em;
  text-align: left;
  color: #0b0d0e;
}

.btn {
  padding: 13px;
  border-radius: 9px;
  border: 1px;
  color: #fff;
  margin-top: 15px;
  background: #31a3dd;
}

.register-link{
  color: #31a3dd;;
}
.registration-form {
  display: grid;
  grid-gap: 20px;
  color: #584977;
  overflow-y: auto;
}

.footer {
  position: fixed;
  margin-top: 46rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: ghostwhite;
  color: #584977;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0.3125rem 0.625rem 1.25rem;
}

.footer-content {
  padding-right: 5px;
}

.middle-part{
  margin-top: 86px;
  height: 100vh;
  overflow-y: auto;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.field-error {
  color: red;
  display: flex;
  justify-content: flex-start;
  margin: 0px;
}

.user-details {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.user-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-name {
  padding: 60px;
}

.client-details {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.client-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.avatar-label {
  margin-right: 60px;
}

.image-slider {
  width: 512px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.account {
  color: #444f54;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008em;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 166px;
}

.img {
  border-radius: 100px;
}

.client-left-side {
  border-right: 1px solid gray;
}

.home {
  margin-top: 12rem;
  margin-left: 20px;
  margin-right: 20px;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: fantasy;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.image-tab {
  background-image: url("./coverImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 44vh;
  border-radius: 70px;
  padding-right: 20px;
}

.text {
  color: white;
  font-size: 17px;
  text-align: justify;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-family: fantasy;
  padding: 30px;
}

.slick-slider {
  margin-left: 120px;
}

.slick-slide img {
  width: 100%;
}

.slick-dots {
  bottom: 10px;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 14px;
}

.nav-title {
  font-size: 12px;
  border: 1px solid #fae6e65e;
  border-radius: 10px;
  padding: 7px;
  margin: 10px;
  background-color: #31a3dd;
  color: white;
}

.login-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6px;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .image-tab {
    height: 80vh;
    border-radius: 70px;
    margin-top: 50px;
    padding-right: 0px;
  }

  .footer {
    margin-top: 5rem;
    position: relative;
  }
  .Fields {
    width: 60vw;
  }
}

@media (min-width: 400px) and (max-width: 899px) {
  .footer {
    margin-top: 5rem;
    position: relative;
    font-size: 13px;
  }

  .login {
    margin-top: 186px;
  }

  .home-page {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: 1fr;
  }

  .image-tab {
    width: 97%;
  }

  .text {
    padding: 0px;
  }

  .home-header {
    font-size: 9px;
  }

  .Fields {
    width: 60vw;
  }
  .profile {
    margin-top: 159px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .image-slider {
    width: 60vw;
  }
  .slick-slider {
    width: 73vw;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .home-header {
    font-size: 10px;
  }
  .home-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .login {
    margin-top: 181px;
  }

  .text {
    padding: 0px;
    font-size: 14px;
  }
  .footer {
    position: relative;
    margin-top: 6rem;
    font-size: 10px;
  }

  .image-tab {
    height: 74vh;
  }
  .Fields {
    width: 60vw;
  }

  .profile {
    margin-top: 150px;
    display: grid;
    justify-content: space-evenly;
    align-items: normal;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  .navbar {
    font-size: 10px;
  }

  .account {
    font-size: 10px;
  }
}
